RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Now, rewrite to HTTPS:
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php/$1 [L]

## EXPIRES CACHING ##
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/webp "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
## EXPIRES CACHING ##

#redirecting old to new#
RewriteEngine On

#RewriteRule http://primepropertyturkey.com/index.php https://www.primepropertyturkey.com/ [R=301,L]
#RewriteRule https://primepropertyturkey.com/ https://www.primepropertyturkey.com/ [R=301,L]
#RewriteRule http://www.primepropertyturkey.com/ https://www.primepropertyturkey.com/ [R=301,L]
#RewriteRule http://primepropertyturkey.com/ https://www.primepropertyturkey.com/ [R=301,L]

RewriteRule /Real_estate/properties/(.*)$ https://www.primepropertyturkey.com/properties/$1 [R=301,L]
RewriteRule /Real_estate/property/(.*)$ https://www.primepropertyturkey.com/properties/ [R=301,L]
RewriteRule /Real_estate/property$ https://www.primepropertyturkey.com/properties/ [R=301,L]
RewriteRule /Real_estate/real_property$ https://www.primepropertyturkey.com/properties/ [R=301,L]
RewriteRule /Real_estate/(.*)$ https://www.primepropertyturkey.com/properties/ [R=301,L]
RewriteRule /Real_estate$ https://www.primepropertyturkey.com/properties/ [R=301,L]

RewriteRule /property$ https://www.primepropertyturkey.com/properties/ [R=301,L]
RewriteRule /property/(.*)$ https://www.primepropertyturkey.com/properties/$1 [R=301,L]
#RewriteRule /Property https://www.primepropertyturkey.com/ [R=301,L]
#RewriteRule /property https://www.primepropertyturkey.com/ [R=301,L]

RewriteRule /Blog/blogs/(.*)$ https://www.primepropertyturkey.com/blog [R=301,L]
RewriteRule /Blog/blogs$ https://www.primepropertyturkey.com/blog [R=301,L]
RewriteRule /Blog/(.*)$ https://www.primepropertyturkey.com/blog/$1 [R=301,L]
RewriteRule /Blog$ https://www.primepropertyturkey.com/blog [R=301,L]

RewriteRule /News/news/(.*)$ https://www.primepropertyturkey.com/news [R=301,L]
RewriteRule /News/news$ https://www.primepropertyturkey.com/news [R=301,L]
RewriteRule /News/(.*)$ https://www.primepropertyturkey.com/news/$1 [R=301,L]
RewriteRule /News$ https://www.primepropertyturkey.com/news [R=301,L]

RewriteRule /blog/why_are_turkish_property_prices_increasing$ https://www.primepropertyturkey.com/blog/why-are-turkish-property-prices-increasing [R=301,L]
RewriteRule /blog/a_day_out_in_galataport_istanbul$ https://www.primepropertyturkey.com/blog/a-day-out-in-galataport-istanbul [R=301,L]
RewriteRule /blog/turkey_becomes_a_safe_haven_for_russian_investors$ https://www.primepropertyturkey.com/blog/turkey-becomes-a-safe-haven-for-russian-investors [R=301,L]
RewriteRule /blog/why_are_turkish_property_prices_increasing$ https://www.primepropertyturkey.com/blog/why-are-turkish-property-prices-increasing [R=301,L]
RewriteRule /blog/being_a_digital_nomad_in_turkey$ https://www.primepropertyturkey.com/blog/being-a-digital-nomad-in-turkey [R=301,L]
RewriteRule /blog/istanbul_real_estate_in_the_metaverse$ https://www.primepropertyturkey.com/blog/istanbul-real-estate-in-the-metaverse [R=301,L]
RewriteRule /blog/visa_free_countries_for_turkish_nationals$ https://www.primepropertyturkey.com/blog/visa-free-countries-for-turkish-nationals [R=301,L]
RewriteRule /blog/is_it_worth_it_to_buy_a_property_in_turkey$ https://www.primepropertyturkey.com/blog/is-it-worth-buying-property-turkey [R=301,L]
RewriteRule /blog/how_to_travel_around_istanbul_local_guide$ https://www.primepropertyturkey.com/blog/how-to-travel-around-istanbul-local-guide [R=301,L]
RewriteRule /blog/how_to_get_a_turkish_drivers_license_as_a_foreigner$ https://www.primepropertyturkey.com/blog/turkish-drivers-license-as-foreigner [R=301,L]
RewriteRule /blog/why_invest_now_in_tr_citizenship_advantages_and_investment$ https://www.primepropertyturkey.com/blog/why-invest-now-in-tr [R=301,L]
RewriteRule /blog/business_districts_of_istanbul_maslak_kazyatagi_altunizade_sisli_beyoglu_basin_express$ https://www.primepropertyturkey.com/blog/business-districts-of-istanbul [R=301,L]
RewriteRule /blog/uskudar_-_from_the_coast_to_the_hills$ https://www.primepropertyturkey.com/blog/uskudar-from-the-coast-to-the-hills [R=301,L]

RewriteRule /properties/fully_furnished_apartments_for_sale_-_colony_coliving$ https://www.primepropertyturkey.com/properties/apartments-colony-coliving [R=301,L]
RewriteRule /properties/apartments_with_amazing_golden_horn_view_-_forev_modern_halic$ https://www.primepropertyturkey.com/properties/spectacular-Istanbul-Halic [R=301,L]
RewriteRule /properties/elite_apartments_in_bagcilar_-_luxera_towers$ https://www.primepropertyturkey.com/properties/elite-apartments-bagcilar [R=301,L]
RewriteRule /properties/buy_apartments_in_buyukcekmece_-_akca_konaklari$ https://www.primepropertyturkey.com/properties/Apartment-Akca-Konaklari [R=301,L]
RewriteRule /properties/apartments_for_investment_-_nef_05$ https://www.primepropertyturkey.com/properties/apartment-nef05 [R=301,L]
RewriteRule /properties/reasonably_priced_apartments_in_eyup_-_nova$ https://www.primepropertyturkey.com/properties/Affordable-apartments-eyup-nova [R=301,L]
RewriteRule /properties/apartments_for_sale_in_esenyurt_-_floorist_life$ https://www.primepropertyturkey.com/properties/cheap-apartments-floorist-life [R=301,L]
RewriteRule /properties/waterfront_apartments_in_halic_-_tersane_istanbul$ https://www.primepropertyturkey.com/properties/waterfront-apartments-halic-tersane [R=301,L]
RewriteRule /properties/stunning_apartments_in_beylikduzu_-_liliya_garden$ https://www.primepropertyturkey.com/properties/apartment-beylikduzu-liliya-garden [R=301,L]
RewriteRule /properties/outstanding_apartments_in_bagcilar_-_vaat_express$ https://www.primepropertyturkey.com/properties/apartment-vaat-express [R=301,L]
RewriteRule /properties/modern_apartments_in_serene_neighborhood_-_evinpark$ https://www.primepropertyturkey.com/properties/modern-apartments-evinpark [R=301,L]
RewriteRule /properties/luxurious_apartments_in_beykoz_-_acarverde_residences$ https://www.primepropertyturkey.com/properties/apartment-beykoz-PPTV0546 [R=301,L]
RewriteRule /properties/picturesque_bosphorus_view_apartments_keten_cihangir_panorama$ https://www.primepropertyturkey.com/properties/bosphorus-view-apartments-keten-cihangir [R=301,L]
RewriteRule /properties/modern_designer_apartments_in_esenyurt_-_kilic_gold_residence$ https://www.primepropertyturkey.com/properties/apartment-kilic-gold-residence [R=301,L]
RewriteRule /properties/neat-apartments-for-sale-blue-marin-2$ https://www.primepropertyturkey.com/properties/neat-apartments-Istanbul [R=301,L]
RewriteRule /properties/ready-to-move_smart_homes_-_mayfair_apartments$ https://www.primepropertyturkey.com/properties/ready-to-move-smart-homes-mayfair [R=301,L]
RewriteRule /properties/exclusive_duplexes_with_bosphorus_view_-_therra_park$ https://www.primepropertyturkey.com/properties/duplexes-therra-park [R=301,L]
RewriteRule /properties/kucukcekmece_modern_apartments_-_centric_istanbul$ https://www.primepropertyturkey.com/properties/apartment-Centric-Istanbul [R=301,L]
RewriteRule /properties/elegant-apartments-for-sale-in-esenyurt-le-montana$ https://www.primepropertyturkey.com/properties/apartment-esenyurt-lemontana [R=301,L]
RewriteRule /properties/modern-2-bedroom-konak-residence$ https://www.primepropertyturkey.com/properties/apartment-konak-residence [R=301,L]
RewriteRule /properties/elite_apartments_in_bagcilar_-_luxera_towers$ https://www.primepropertyturkey.com/properties/elite-apartments-bagcilar [R=301,L]
RewriteRule /properties/ready-to-move-in-anthill-residence$ https://www.primepropertyturkey.com/properties/apartment-sisli-PPTV0350 [R=301,L]
RewriteRule /properties/lifestyle-apartments-in-sisli-bomonti-motivada$ https://www.primepropertyturkey.com/properties/apartment-Istanbul-motivada [R=301,L]
RewriteRule /properties/tenanted-commercial-office-space-with-tremendous-upside-premier-kampus-ofis$ https://www.primepropertyturkey.com/properties/commercial-premier-kampus-ofis [R=301,L]
RewriteRule /properties/sislibomonti-branded-luxury-apartments$ https://www.primepropertyturkey.com/properties/apartment-sisli-PPTV0002 [R=301,L]
RewriteRule /properties/pristine_apartments_in_eyup_sultan_-_house_b$ https://www.primepropertyturkey.com/properties/pristine-apartments-in-Gokturk [R=301,L]
RewriteRule /properties/amazing-islamlar-bungalow-boasting-historic-patara-beach-view$ https://www.primepropertyturkey.com/properties/bungalow-Kalkan-PPTV0033 [R=301,L]
RewriteRule /properties/sea-view-apartments-for-sale-in-istanbul-sega-cennet$ https://www.primepropertyturkey.com/properties/apartment-istanbul-sega-cennet [R=301,L]
RewriteRule /properties/cengelkoy_apartments_close_to_nature_-_lim_bahce$ https://www.primepropertyturkey.com/properties/apartment-lim-bahce [R=301,L]
RewriteRule /properties/designer_apartments_in_eyup_-_yesilpinar_evleri$ https://www.primepropertyturkey.com/properties/apartment-yesilpinar-evleri [R=301,L]
RewriteRule /properties/spacious_5_bedroom_villa_for_sale_-_kemerburgaz_cesmeler$ https://www.primepropertyturkey.com/properties/villa-sale-kemerburgaz-cesmeler [R=301,L]
RewriteRule /properties/atasehir_luxurious_designed_apartments_-_atasehir_modern$ https://www.primepropertyturkey.com/properties/apartment-Istanbul-PPTV0522 [R=301,L]
RewriteRule /properties/centrally_located_apartments_in_levent_-_dap_yeni_levent$ https://www.primepropertyturkey.com/properties/Luxury-Homes-Dap-yeni [R=301,L]
RewriteRule /properties/apartments_suitable_for_citizenship_-_ferko_line_residence$ https://www.primepropertyturkey.com/properties/apartments-ferko-line-residence [R=301,L]
RewriteRule /properties/prestige_apartments_with_terrace_swimming_pool_-_empire_istanbul$ https://www.primepropertyturkey.com/properties/apartment-empire-istanbul [R=301,L]
RewriteRule /properties/shops_for_sale_in_automotive_mall_-_autopia$ https://www.primepropertyturkey.com/properties/shops-automotive-mall [R=301,L]
RewriteRule /properties/elegant_and_affordable_apartments_blue_garden_sancaktepe$ https://www.primepropertyturkey.com/properties/apartment-blue-garden-samandira [R=301,L]
RewriteRule /properties/lifestyle-apartments-for-sale-in-istanbul-aston-levent$ https://www.primepropertyturkey.com/properties/apartment-istanbul-aston-levent [R=301,L]
RewriteRule /properties/brand_new_apartments_in_bagcilar_-_gunesli_homes_basin_express$ https://www.primepropertyturkey.com/properties/apartments-bagcilar-gunesli [R=301,L]
RewriteRule /properties/tranquil_apartments_with_wide_balconies_-_basakport$ https://www.primepropertyturkey.com/properties/Apartment-Istanbul-Basakport [R=301,L]
#RewriteRule /properties/apartments-for-sale-in-pendik-oksijen-park$ https://www.primepropertyturkey.com/properties/apartments-for-sale-in-pendik-oksijen-park [R=301,L]

RewriteRule /Properties/Hotel$ https://www.primepropertyturkey.com/properties [R=301]
RewriteRule /Properties/Penthouse$ https://www.primepropertyturkey.com/properties [R=301,L]
RewriteRule /Properties/Bursa$ https://www.primepropertyturkey.com/properties [R=301,L]
RewriteRule /Properties/Bungalow$ https://www.primepropertyturkey.com/Turkey/All-cities/Bungalow/All-bedroom/0-5000000 [R=301,L]
RewriteRule /Properties/Commercial$ https://www.primepropertyturkey.com/Turkey/All-cities/Commercial/All-bedroom/0-5000000 [R=301,L]
RewriteRule /Properties/Apartment$ https://www.primepropertyturkey.com/Turkey/All-cities/Apartment/All-bedroom/0-5000000 [R=301,L]
RewriteRule /properties/Istanbul/Apartment$ https://www.primepropertyturkey.com/Turkey/Istanbul/Apartment/All-bedroom/0-5000000 [R=301,L]

RewriteRule /citizenship_by_investment$ https://www.primepropertyturkey.com/citizenship-by-investment-in-turkey [R=301,L]
RewriteRule /Citizenship_by_investment$ https://www.primepropertyturkey.com/citizenship-by-investment-in-turkey [R=301,L]
RewriteRule /Citizenship_by_investment_in_turkey$ https://www.primepropertyturkey.com/citizenship-by-investment-in-turkey [R=301,L]
RewriteRule /Citizenship-by-investment-in-turkey$ https://www.primepropertyturkey.com/citizenship-by-investment-in-turkey [R=301,L]

RewriteRule /buyer-guide$ https://www.primepropertyturkey.com/How-To-Buy-Property-In-Turkey [R=301,L]
RewriteRule /Buyer-guide$ https://www.primepropertyturkey.com/How-To-Buy-Property-In-Turkey [R=301,L]
RewriteRule /Buyer_guide$ https://www.primepropertyturkey.com/How-To-Buy-Property-In-Turkey [R=301,L]
RewriteRule /buyer_guide$ https://www.primepropertyturkey.com/How-To-Buy-Property-In-Turkey [R=301,L]

RewriteRule /After-sales$ https://www.primepropertyturkey.com/after-sales [R=301,L]
RewriteRule /after_sales$ https://www.primepropertyturkey.com/after-sales [R=301,L]
RewriteRule /After_sales$ https://www.primepropertyturkey.com/after-sales [R=301,L]

RewriteRule /Buying_online$ https://www.primepropertyturkey.com/buying-online [R=301,L]
RewriteRule /Buying-online$ https://www.primepropertyturkey.com/buying-online [R=301,L]
RewriteRule /buying_online$ https://www.primepropertyturkey.com/buying-online [R=301,L]

RewriteRule /About-us$ https://www.primepropertyturkey.com/about-us [R=301,L]
RewriteRule /about_us$ https://www.primepropertyturkey.com/about-us [R=301,L]
RewriteRule /About_us$ https://www.primepropertyturkey.com/about-us [R=301,L]

RewriteRule /Contact-us$ https://www.primepropertyturkey.com/contact-us [R=301,L]
RewriteRule /contact_us$ https://www.primepropertyturkey.com/contact-us [R=301,L]
RewriteRule /Contact_us$ https://www.primepropertyturkey.com/contact-us [R=301,L]
RewriteRule /Contactus$ https://www.primepropertyturkey.com/contact-us [R=301,L]

RewriteRule /Privacy-policy$ https://www.primepropertyturkey.com/privacy-policy [R=301,L]
RewriteRule /Privacy_policy$ https://www.primepropertyturkey.com/privacy-policy [R=301,L]
RewriteRule /privacy_policy$ https://www.primepropertyturkey.com/privacy-policy [R=301,L]

RewriteRule /area_guide$ https://www.primepropertyturkey.com/area-guide [R=301,L]
RewriteRule /Area_guide$ https://www.primepropertyturkey.com/area-guide [R=301,L]
RewriteRule /Area-guide$ https://www.primepropertyturkey.com/area-guide [R=301,L]

RewriteRule /short_term_residency_extension$ https://www.primepropertyturkey.com/short-term-residency-extension [R=301,L]
RewriteRule /Short_term_residency_extension$ https://www.primepropertyturkey.com/short-term-residency-extension [R=301,L]
RewriteRule /Short-term-residency-extension$ https://www.primepropertyturkey.com/short-term-residency-extension [R=301,L]

RewriteRule /short_term_residency_permit$ https://www.primepropertyturkey.com/short-term-residency-permit [R=301,L]
RewriteRule /Short_term_residency_permit$ https://www.primepropertyturkey.com/short-term-residency-permit [R=301,L]
RewriteRule /Short-term-residency-permit$ https://www.primepropertyturkey.com/short-term-residency-permit [R=301,L]

RewriteRule /frequently_asked_questions_faq$ https://www.primepropertyturkey.com/frequently-asked-questions-faq [R=301,L]
RewriteRule /Frequently-asked-questions-faq$ https://www.primepropertyturkey.com/frequently-asked-questions-faq [R=301,L]

RewriteRule /Prime/short_term_residency_permit$ https://www.primepropertyturkey.com/short-term-residency-permit [R=301,L]
RewriteRule /Prime/login$ https://www.primepropertyturkey.com/User/UserLogin [R=301,L]
RewriteRule /Prime/register$ https://www.primepropertyturkey.com/User/UserLogin [R=301,L]
RewriteRule /Prime/user_register$ https://www.primepropertyturkey.com/User/UserLogin [R=301,L]
RewriteRule /Prime/frequently_asked_questions_faq$ https://www.primepropertyturkey.com/frequently-asked-questions-faq [R=301,L]
RewriteRule /Prime/contact_us$ https://www.primepropertyturkey.com/contact-us [R=301,L]
RewriteRule /Prime/buyer_guide$ https://www.primepropertyturkey.com/How-To-Buy-Property-In-Turkey [R=301,L]
RewriteRule /Prime/area_guide$ https://www.primepropertyturkey.com/area-guide [R=301,L]
RewriteRule /Prime/about_us$ https://www.primepropertyturkey.com/about-us [R=301,L]
RewriteRule /Prime/citizenship_by_investment$ https://www.primepropertyturkey.com/citizenship-by-investment-in-turkey [R=301,L]
RewriteRule /Prime/sitemap$ https://www.primepropertyturkey.com/Seo/SiteMap [R=301,L]

##RewriteRule /Prime https://www.primepropertyturkey.com/properties [R=301,L]
##RewriteRule /Prime/(.*)$ https://www.primepropertyturkey.com/properties [R=301,L]
##RewriteRule /prime https://www.primepropertyturkey.com/properties [R=301,L]
##RewriteRule /prime/(.*)$ https://www.primepropertyturkey.com/properties [R=301,L]

#redirect old to new#