#toast_message {
    visibility: hidden;
    min-width: 250px;
    max-width: 320px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    right: 50px;
    bottom: 2%;
    font-size: 17px;
    z-index: 99999999;
    border-radius: 15px;
}
#toast_message.success{
    background-color: #5cb85c !important;
    color: #fff;
}
#toast_message.primary{
    background-color: #0275d8 !important;
    color: #fff;
}
#toast_message.warning{
    background-color: #f0ad4e !important;
    color: #fff;
}
#toast_message.danger{
    background-color: #d9534f !important;
    color: #fff;
}
#toast_message.show {
    visibility: visible;
    -webkit-animation: fadein 2s, fadeout 10s 10s;
    animation: fadein 2s, fadeout 10s 10s;
}

#toast_message_success {
    visibility: hidden;
    min-width: 250px;
    max-width: 320px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    right: 50px;
    bottom: 2%;
    font-size: 17px;
    z-index: 99999999;
    border-radius: 15px;
}
#toast_message_success.success{
    background-color: #5cb85c !important;
    color: #fff;
}
#toast_message_success.primary{
    background-color: #0275d8 !important;
    color: #fff;
}
#toast_message_success.warning{
    background-color: #f0ad4e !important;
    color: #fff;
}
#toast_message_success.danger{
    background-color: #d9534f !important;
    color: #fff;
}
#toast_message_success.show {
    visibility: visible;
    -webkit-animation: fadein 2s, fadeout 10s 10s;
    animation: fadein 2s, fadeout 10s 10s;
}

#toast_failed {
    visibility: hidden;
    min-width: 250px;
    max-width: 320px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    right: 50px;
    bottom: 2%;
    font-size: 17px;
    z-index: 99999999;
    border-radius: 15px;
}
#toast_failed.success{
    background-color: #5cb85c !important;
    color: #fff;
}
#toast_failed.primary{
    background-color: #0275d8 !important;
    color: #fff;
}
#toast_failed.warning{
    background-color: #f0ad4e !important;
    color: #fff;
}
#toast_failed.danger{
    background-color: #d9534f !important;
    color: #fff;
}
#toast_failed.show {
    visibility: visible;
    -webkit-animation: fadein 2s, fadeout 10s 10s;
    animation: fadein 2s, fadeout 10s 10s;
}




@-webkit-keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 50px; opacity: 1;}
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {right: 50px; opacity: 1;}
    to {right: 0; opacity: 0;}
}

@keyframes fadeout {
    from {right: 50px; opacity: 1;}
    to {right: 0; opacity: 0;}
}