<!DOCTYPE html>
<html>
<head>
	<title>403 Forbidden</title>
</head>
<body>

<p>Directory access is forbidden.</p>

</body>
</html>




<div id="content">
	<section class="block" id="features">
		<div class="container">
			<div class="block__wrapper">
				<div class="block__title text-center">
					<h2>What You'll Get</h2>
				</div>
				<!--end block-title-->

				<div class="row">

					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<a href="#" class="box box--image box--image--full-image" data-toggle="modal"
						   data-target="#modal-feature" data-scroll-reveal="enter left and move 10px">
							<div class="box__wrapper">
								<div class="box__header">
									<div class="box__image img-into-bg">
										<img src="<?= base_url(); ?>assets/landing-page/img/image-01.webp" alt="">
									</div>
								</div>
								<div class="box__content">
									<h4>Beautiful Interiors</h4>
									<h5>Click for more</h5>
								</div>
							</div>
							<!--end box__wrapper-->
						</a>
						<!--end box-image-->
					</div>
					<!--end col-xl-4-->

					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<a href="#" class="box box--image box--image--full-image" data-toggle="modal"
						   data-target="#modal-feature" data-scroll-reveal="enter bottom and move 10px after">
							<div class="box__wrapper">
								<div class="box__header">
									<div class="box__image img-into-bg">
										<img src="<?= base_url(); ?>assets/landing-page/img/image-02.webp" alt="">
									</div>
								</div>
								<div class="box__content">
									<h4>Parking and Shopping</h4>
									<h5>Click for more</h5>
								</div>
							</div>
							<!--end box__wrapper-->
						</a>
						<!--end box-image-->
					</div>
					<!--end col-xl-4-->

					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 offset-md-3 offset-lg-0">
						<a href="#" class="box box--image box--image--full-image" data-toggle="modal"
						   data-target="#modal-feature" data-scroll-reveal="enter right and move 10px">
							<div class="box__wrapper">
								<div class="box__header">
									<div class="box__image img-into-bg">
										<img src="<?= base_url(); ?>assets/landing-page/img/image-03.webp" alt="">
									</div>
								</div>
								<div class="box__content">
									<h4>Wellness and Relax Places</h4>
									<h5>Click for more</h5>
								</div>
							</div>
							<!--end box__wrapper-->
						</a>
						<!--end box-image-->
					</div>
					<!--end col-xl-4-->

				</div>
				<!--end row-->
			</div>
			<!--end block__wrapper-->
		</div>
		<!--end container-->
		<div class="background-wrapper" data-background-color="#f9f9f9">
			<div class="background--image opacity-10 background--repeat-repeat">
				<img src="<?= base_url(); ?>assets/landing-page/img/pattern-topo.webp" alt="">
			</div>
		</div>
		<!--end background-->
	</section>
	<section class="block" id="text-image-block">
		<div class="container">
			<div class="block__wrapper">
				<div class="row">
					<div class="col-md-6">
						<div class="text-align-right push-down">
							<h2 data-scroll-reveal="enter left and move 10px">New Living For Your Dreaming</h2>
							<p data-scroll-reveal="enter left and move 10px after 0.1s">
								Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh
								condimentum tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla
								turpis, pharetra et
							</p>
							<a href="#contact" class="btn btn-primary btn-framed">Contact Us</a>
						</div>
					</div>
					<div class="col-md-5">
						<img class="width-100 shadow rounded-corners"
							 src="<?= base_url(); ?>assets/landing-page/img/image-04.webp" alt="">
					</div>
				</div>
				<!--end row-->
				<div class="background-wrapper">
					<div class="background background--image opacity-70 background--repeat-repeat height-50">
						<img src="<?= base_url(); ?>assets/landing-page/img/pattern-dot.webp" alt="">
					</div>
				</div>
				<!--end background-->
			</div>
			<!--end block__wrapper-->
		</div>
		<!--end container-->
	</section>
	<section class="block" id="blockquote">
		<div class="container">
			<div class="block__wrapper">
				<blockquote class="blockquote text-justify" style="font-size: 0.8rem">
					<i class="fa fa-quote-left"></i>
					<p>
						I used Prime Property Turkey to look for residential investment options in Istanbul and found them very informed, helpful, trustworthy and objective in their advice on various options across the city. I have dealt with them for over 6 months on a sustained basis and my opinion of their professionalism remains the same. If you are looking at Turkey for real estate, I would recommend Prime Property to help you navigate the ecosystem
					</p>
					<i class="fa fa-quote-right d-block text-right"></i>
					<br>
					<footer class="blockquote-footer d-block text-right">Todd Romaine (Canada)</footer>
				</blockquote>
				<!--end blockquote-->
			</div>
			<!--end block__wrapper-->
		</div>
		<!--end container-->
		<div class="background-wrapper" data-parallax="scroll" data-parallax-speed="3"
			 data-background-color="#f1f1f1">
			<div class="background--image opacity-10 parallax-element">
				<img src="<?= base_url(); ?>assets/landing-page/img/slide-02.webp" alt="">
			</div>
		</div>
		<!--end background-->
	</section>
	<section class="block" id="developing-process">
		<div class="container">
			<div class="block__title text-center">
				<h2>Developing Process</h2>
			</div>
			<!--end block-title-->
			<div class="block__wrapper">

				<div class="row">
					<div class="col-md-5">
						<img src="<?= base_url(); ?>assets/landing-page/img/image-05.webp"
							 class="width-100 shadow rounded-corners" alt="">
					</div>
					<div class="col-md-6">
						<ul class="list list--text list--dashed">
							<li data-scroll-reveal="enter bottom and move 10px">
								<h5 class="opacity-50"><strong>Phase #1</strong></h5>
								<h4>Building A
									<span class="badge badge-success">Completed</span>
								</h4>
								<p>
									Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh
									condimentum tristique eu finibus lorem. Nullam sed eleifend massa.
								</p>
							</li>
							<li data-scroll-reveal="enter bottom and move 10px after 0.1s">
								<h5 class="opacity-50"><strong>Phase #2</strong></h5>
								<h4>Building B
									<span class="badge badge-success">Completed</span>
								</h4>
								<p>
									Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed
									eleifend massa. Morbi nulla turpis, pharetra
								</p>
							</li>
							<li data-scroll-reveal="enter bottom and move 10px after 0.2s">
								<h5 class="opacity-50"><strong>Phase #3</strong></h5>
								<h4>Building C
									<span class="badge badge-secondary">In Progress</span>
								</h4>
								<p>
									Tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis,
									pharetra et nisl eu, pellentesque molestie erat
								</p>
							</li>
						</ul>
					</div>
				</div>

				<div class="background-wrapper">
					<div class="background--particles">
					</div>
				</div>
				<!--end background-->
			</div>
			<!--end block__wrapper-->
		</div>
		<!--end container-->
	</section>
	<section class="block" id="pricing">
		<div class="container">
			<div class="block__wrapper">
				<div class="block__title">
					<h2>Pricing</h2>
				</div>
				<!--end block-title-->

				<div class="row">

					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="box box--pricing" data-scroll-reveal="enter bottom and move 10px">
							<div class="box__wrapper">
								<div class="box__image height-300px">
									<div class="img-into-bg">
										<img src="<?= base_url(); ?>assets/landing-page/img/gallery-03.webp" alt="">
									</div>
								</div>
								<div class="box__header">
									<h4>Apartment A</h4>
									<h3 class="price">$125,000</h3>
								</div>
								<div class="box__content">
									<ul class="list-unstyled">
										<li>245m<sup>2</sup></li>
										<li>1 Bathroom</li>
										<li>10 m<sup>2</sup> Balcony</li>
									</ul>
								</div>
								<div class="box__footer">
									<a href="#contact" class="btn btn-primary">Contact Agent</a>
								</div>
							</div>
							<!--end box__wrapper-->
						</div>
						<!--end box-pricing-->
					</div>
					<!--end col-md-4-->

					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="box box--pricing promoted"
							 data-scroll-reveal="enter bottom and move 10px after 0.1s">
							<div class="box__wrapper">
								<div class="box__image height-300px">
									<div class="img-into-bg">
										<img src="<?= base_url(); ?>assets/landing-page/img/gallery-02.webp" alt="">
									</div>
								</div>
								<div class="box__header">
									<h4>Apartment B</h4>
									<h3 class="price">$240.000</h3>
								</div>
								<div class="box__content">
									<ul class="list-unstyled">
										<li>340m<sup>2</sup></li>
										<li>2 Bathroom</li>
										<li>2 Bedrooms</li>
										<li>15 m<sup>2</sup> Balcony</li>
									</ul>
								</div>
								<div class="box__footer">
									<a href="#contact" class="btn btn-light">Contact Agent</a>
								</div>
							</div>
							<!--end box__wrapper-->
						</div>
						<!--end box-pricing-->
					</div>
					<!--end col-md-4-->

					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 offset-md-3 offset-lg-0">
						<div class="box box--pricing" data-scroll-reveal="enter bottom and move 10px after 0.2s">
							<div class="box__wrapper">
								<div class="box__image height-300px">
									<div class="img-into-bg">
										<img src="<?= base_url(); ?>assets/landing-page/img/gallery-05.webp" alt="">
									</div>
								</div>
								<div class="box__header">
									<h4>Apartment C</h4>
									<h3 class="price">$356.000</h3>
								</div>
								<div class="box__content">
									<ul class="list-unstyled">
										<li>480m<sup>2</sup></li>
										<li>2 Bathroom</li>
										<li>2 Bedrooms</li>
										<li>30 m<sup>2</sup> Terrace</li>
									</ul>
								</div>
								<div class="box__footer">
									<a href="#contact" class="btn btn-primary">Contact Agent</a>
								</div>
							</div>
							<!--end box__wrapper-->
						</div>
						<!--end box-pricing-->
					</div>
					<!--end col-md-4-->

				</div>
				<!--end row-->
			</div>
			<!--end block__wrapper-->
		</div>
		<!--end container-->
	</section>
	<section class="block" id="gallery">
		<div class="container">
			<div class="block__wrapper">
				<div class="block__title">
					<h2>Gallery</h2>
				</div>
				<!--end block-title-->
			</div>
			<!--end block__wrapper-->
		</div>
		<!--end container-->
		<div class="owl-carousel carousel-gallery" data-owl-items="5" data-owl-dots="1" data-owl-nav="0">

			<a href="<?= base_url(); ?>assets/landing-page/img/gallery-01.webp"
			   class="carousel-gallery__image popup-image">
				<div class="img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/gallery-01.webp" alt="">
				</div>
			</a>
			<a href="<?= base_url(); ?>assets/landing-page/img/gallery-02.webp"
			   class="carousel-gallery__image popup-image">
				<div class="img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/gallery-02.webp" alt="">
				</div>
			</a>
			<a href="<?= base_url(); ?>assets/landing-page/img/gallery-03.webp"
			   class="carousel-gallery__image popup-image">
				<div class="img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/gallery-03.webp" alt="">
				</div>
			</a>
			<a href="<?= base_url(); ?>assets/landing-page/img/gallery-04.webp"
			   class="carousel-gallery__image popup-image">
				<div class="img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/gallery-04.webp" alt="">
				</div>
			</a>
			<a href="<?= base_url(); ?>assets/landing-page/img/gallery-05.webp"
			   class="carousel-gallery__image popup-image">
				<div class="img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/gallery-05.webp" alt="">
				</div>
			</a>
			<a href="<?= base_url(); ?>assets/landing-page/img/image-04.webp"
			   class="carousel-gallery__image popup-image">
				<div class="img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/image-04.webp" alt="">
				</div>
			</a>
			<a href="<?= base_url(); ?>assets/landing-page/img/image-03.webp"
			   class="carousel-gallery__image popup-image">
				<div class="img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/image-03.webp" alt="">
				</div>
			</a>

		</div>
		<div class="background-wrapper">
			<div class="background background--image background--repeat-repeat opacity-50">
				<img src="<?= base_url(); ?>assets/landing-page/img/pattern-dot.webp" alt="">
			</div>
		</div>
		<!--end background-->
	</section>
	<section class="block" id="partners">
		<div class="container">
			<div class="block__wrapper">
				<div class="block_title text-center">
					<h2>Partners</h2>
				</div>
				<!--end block__title-->
				<div class="d-flex align-items-center justify-content-around">
					<a href="#">
						<img src="<?= base_url(); ?>assets/landing-page/img/partner-1.webp" alt="">
					</a>
					<a href="#">
						<img src="<?= base_url(); ?>assets/landing-page/img/partner-2.webp" alt="">
					</a>
					<a href="#">
						<img src="<?= base_url(); ?>assets/landing-page/img/partner-3.webp" alt="">
					</a>
					<a href="#">
						<img src="<?= base_url(); ?>assets/landing-page/img/partner-4.webp" alt="">
					</a>
					<a href="#">
						<img src="<?= base_url(); ?>assets/landing-page/img/partner-5.webp" alt="">
					</a>
				</div>
				<!--end logos-->
			</div>
			<!--end block__wrapper-->
		</div>
		<!--end container-->
	</section>
	<section class="block" id="contact">
		<div class="container">
			<div class="block__wrapper">
				<div class="block__title">
					<h2>Contact</h2>
				</div>
				<!--end block-title-->
				<div class="row">
					<div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
						<h4>Our Agent</h4>
						<div class="person">
							<div class="person__image">
								<div class="img-into-bg">
									<img src="<?= base_url(); ?>assets/landing-page/img/author-01.webp" alt="">
								</div>
							</div>
							<div class="person__description">
								<h5>Jane Doe</h5>
								<figure>
									<label>Phone:</label>
									<div>(123) 456 789 000</div>
								</figure>
								<figure>
									<label>E-mail:</label>
									<div>
										<a href="#">john.doe@example.com</a>
									</div>
								</figure>
								<figure>
									<label>Skype:</label>
									<div>John Doe</div>
								</figure>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
						<h4>Contact Form</h4>

						<form id="form-contact" method="post" class="form clearfix">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="form-contact-name">Your Name</label>
										<input type="text" class="form-control" id="form-contact-name" name="name"
											   placeholder="Your Name" required>
									</div>
									<!--end form-group -->
								</div>
								<!--end col-md-6 col-sm-6 -->
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="form-contact-email">Your Email</label>
										<input type="email" class="form-control" id="form-contact-email"
											   name="email" placeholder="Your Email" required>
									</div>
									<!--end form-group -->
								</div>
								<!--end col-md-6 col-sm-6 -->
							</div>
							<!--end row -->
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="form-contact-message">Your Message</label>
										<textarea class="form-control" id="form-contact-message" rows="8"
												  name="message" placeholder="Your Message" required></textarea>
									</div>
									<!--end form-group -->
								</div>
								<!--end col-md-12 -->
							</div>
							<!--end row -->
							<div class="form-group clearfix">
								<button type="submit" class="btn pull-right btn-primary btn-framed"
										id="form-contact-submit">Send a Message
								</button>
							</div>
							<!--end form-group -->
							<div class="form-contact-status"></div>
						</form>
						<!--end form-contact -->
					</div>
					<!--end col-xl-7-->
				</div>
				<!--end row-->
			</div>
			<!--end block__wrapper-->
		</div>
		<!--end container-->
		<div class="background-wrapper">
			<div class="background background--image background--repeat-repeat opacity-50">
				<img src="<?= base_url(); ?>assets/landing-page/img/pattern-dot.webp" alt="">
			</div>
		</div>
		<!--end background-->
	</section>
</div>
<div class="hero__background">
	<div class="background-wrapper" data-parallax="scroll" data-parallax-speed="3">
		<div class="background">
			<div class="owl-carousel hero__slider parallax-element" data-owl-items="1" data-owl-autoplay="1"
				 data-owl-dots="0" data-owl-nav="1" data-owl-loop="1" data-owl-fadeout="1"
				 data-owl-nav-container=".slider-nav">
				<div class="slide img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/slide-01.webp" alt="">
				</div>
				<div class="slide img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/slide-02.webp" alt="">
				</div>
				<div class="slide img-into-bg">
					<img src="<?= base_url(); ?>assets/landing-page/img/slide-03.webp" alt="">
				</div>
			</div>
		</div>
	</div>
	<!--end background-->
</div>
